{% extends 'home/base.html' %}

{% block content %}

<div class="post-card">
    <h2>{{ post.title }}</h2>
    <p>{{post.content}}</p>

    <p class="author">
        <a href="{% url 'user-blog-home' post.author.username %}">By {{ post.author }}</a>
    </p>

    <p class="date">
        {{ post.date_posted|date:'F d Y' }}
    </p>
    {% if object.author == user%}
    <a class="btn-delete-confirm btn-secondary" href="{% url 'post-update' object.id %}">Update</a>
    <a class="btn-delete-confirm btn-danger" href="{% url 'post-delete' object.id %}">Delete</a>
     {% endif %}
</div>


{% endblock %}

<!-- <h1>{{ name }}</h1>
<h2>{{class}}</h2>
<h3>{{RollNo}}</h3>
<ul>
    {% for course in courses %}
    <li>{{course}}</li>
    {%empty%}
    <li>No Student found</li>
    {%endfor%}
</ul> -->